*.o
fort*
OUT/*.vtu
OUT/*.dat
*.mod
ghost
DATA/*.sph
Log.out
MANUAL/manual.log
MANUAL/manual.bbl
MANUAL/manual.blg
MANUAL/manual.toc
MANUAL/manual.aux
MANUAL/manual.tex
MANUAL/.DS*
MANUAL/images
*.log
.DS*
script*

